body {
	background: #000;
	overflow:hidden;
	color: white;
}
p {
	padding: 1em 1em;
}

.infoCard {
	width: 100%;
	height: auto;
}


.infoCardContainer {
	background: #fff;
	width: 100%;
	height: auto;
	float: left;
	-webkit-transition: top 20s linear;
	-moz-transition: top 20s linear;
	transition: top 20s linear;
}

.imgBar {
	position: absolute;
	width: 50%;
}
#leftBar {
	width: 50%;
	height: auto;
}
#rightBar {
	left: 50%;
	width: 50%;
	height: auto;
}

.imgLoad {
	position:absolute;
	width: 1%;
	height: auto;
	opacity: 0;
}

/*.upvote {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 50%;
	background-size: 50px auto;
	background-repeat: no-repeat;
	background-position: 50% 50%, center;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}
.downvote {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 50%;
	top: 50%;
	background-size: 50px auto;
	background-repeat: no-repeat;
	background-position: 50% 50%, center;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}
.upvote:hover {
	background: url(../img/upvote.png), rgba(0,255,0, 0.2);
	background-size: 50px auto;
	background-repeat: no-repeat;
	background-position: 50% 50%, center;
	cursor: pointer;
}
.downvote:hover {
	background: url(../img/downvote.png),rgba(255,0,0, 0.2);
	background-size: 50px auto;
	background-repeat: no-repeat;
	background-position: 50% 50%, center;
	cursor: pointer;
} */